<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqh_j1kKe5JVIC4W4lpSOhyQUIgSYwmSc</string>
	<key>GCM_SENDER_ID</key>
	<string>93936072854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bulu-flutter-chat-7fb7e</string>
	<key>STORAGE_BUCKET</key>
	<string>bulu-flutter-chat-7fb7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93936072854:ios:54e74595d62d9107aaaab7</string>
</dict>
</plist>